<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>

<%= link_to "Send Friend Request", friend_requests_path(:requestor_id => current_user, :requestee_id => @user, :is_pending => 1), method: :post%>

<div>
  <br>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
