<h1>New Post</h1>

<h2>Body</h2>

<%= form_with model: @post do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.text_area :body, size: "60x10" %>
  <%= form.submit "Post" %>
<% end %>
